.filter-list {
    display: flex;
    flex-direction: row;
    margin: 16px 16px 16px 0;
    .filter-item { 
        padding: 0 8px; 
        color: #a3a3a3;
        line-height: 32px;
        font-size: 14px;
        font-weight: 300;
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 105px;
        cursor: pointer;
        &.active {
            color: white;
            font-weight: 500;
            font-size: 14px;
            background-color: #404040;
            border-radius: 16px;
        }
    } 
}